<% if @days_to_bday == 0 %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h1 style="text-align:center; font-size:7vw" > Happy Birthday <%= @name %>! </h1>
  </head>
  <div>
<% elsif @days_to_bday == 1 %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h1 style="text-align:center; font-size:7vw" > Your birthday will be in <%= @days_to_bday %> day, <%= @name %>. </h1>
  </head>
  <div>
<% else %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h1 style="text-align:center; font-size:7vw" > Your birthday will be in <%= @days_to_bday %> days, <%= @name %>. </h1>
  </head>
  <div>
<% end %>
